<p>Kia Ora, {{name}}.</p>
<p>Thanks for signing up, to complete you account create please verify your email by following <a href="">this link</a>.</p>
<p>After verifing your email you can create a password and login to complete yout registration</p>
<p>Can't click the link? Copy and paste this</p>
