<p>Kia Ora, {{name}}.</p>
<p>Thanks for signing up to get composting with Kaicycle, and recycle your plant-based waste into local soil and food — doing good for our environment and community!</p>
<p>You have been added to our customer waitlist. You can expect to hear from us soon about a date to start your free trial week of Kaicycle — this is so you can make sure that our service works for your business/household.</p>
<p>For more information in the meantime, check out our <a href="http://kaicycle.workerbe.co/">website</a>, and feel free to contact us here or to message us on Facebook (@Kaicycle).</p>
<p>We look forward to composting with you and growing food, not landfills!</p>
<p>Ngā mihi</p>
<p>The Kaicycle team</p>
