<p>Kia Ora, {{name}}.</p>
<p>Thanks for being with Kaicycle for 2018. By recycling your plant-based waste with us you have helped grow local soil and food — doing good for our environment and community!</p>
<p>This year we have diverted 43,000L of food waste from landfill, bringing our total diversion to 67,000L since 2016. This is fantastic, and we can't wait to continue next year.</p>
<p>But before then is the holiday period. You are probably going away or closing up shop at some point, so we would love to know if you won't be needing collections over the holiday period. We have created an online form for you to complete so please <a href="{{link}}">follow this link</a> to fill it out.</p>
<p>If the above link doesn't work, please copy and paste this: <b>{{link}}</b>.</p>
<p>We look forward to composting with you again next year, and wish you all happy holidays!</p>
<p>Ngā mihi</p>
<p>The Kaicycle team</p>
